@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.form {
  max-width: auto;
  margin: 20px auto;
  overflow: auto;
  border: 3px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.form input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-block;
  background: darkblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
